@charset "utf-8";

html {
    font-size: 62.5%;
    font-family: "arial";
    font-weight: 400;
    line-height: 1;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input,
button {
    height: 40px;
    display: inline-block;
    min-width: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    /* border: none; */
    background: #efeeee;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255);
    box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51);
    border-radius: 12px;
}
button {
    cursor: pointer;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}
button:disabled {
    background: #ccc;
    cursor: auto;
}

.displayGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 0.5rem;
}

.calculatorScreen {
    grid-column: 1/5;
    text-align: right;
    padding: 0 1.2rem;
    /* background: yellow; */
}
.btnResult {
    /* background: pink; */
    height: 100%;
    grid-row: 5 / span 2;
    grid-column-start: 4;
    /* grid-row: 4 / span 2; */
}
.btnPlus {
    /* background: blue; */
    height: 100%;
    grid-row: 3 / span 2;
    grid-column-start: 4;
    /* grid-row: 3 / span 2; */
    /* grid-row-end: 5; */
}

.btnZero {
    /* background: Red; */
    width: 100%;
    grid-column: 1 / span 2;
}
